

/*//float ... 25 .. 33 ..

target / context

start with mobile first then go to desktop
easier that way.*/
/* entire page is  floated so its ok */
/* margin-right:     20px; */
/*  margin-right: 3.333333%; */
/* inlibe block isnt exact, you have to have hacks
divs on the extra line etc, space inbetween
*/

@font-face {
    font-family: retroFont;
    src: url("../fonts/arcade.ttf");
}

@font-face {
    font-family: retroFont2;
    src: url("../fonts/SF Atarian System Bold.ttf");
}

@font-face {
    font-family: retroFont;
    src: url("../fonts/arcade.ttf");
}

@font-face {
    font-family: retroFont2;
    src: url("../fonts/SF Atarian System Bold.ttf");
}

@font-face {
    font-family: forest1;
    src: url("../fonts/JFWilwod.ttf");
}
* {
  box-sizing: border-box;
}

#game1PlayerButton, #game2PlayerButton,#playAgainButton, .playAgainButton {
  width: 100px;
  height: 40px;
  margin: 5px;
  color: white;
  background-color: #a3781c;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
  text-align: center;
  color: #633800;
  text-shadow:
    -2px -2px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
    margin: 10px;
}
/*   text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
h3 {
  /*font-family: 'Bungee Shade', cursive;*/
    font-family: retroFont;
  font-size: 1em;
}
#sideSection {

  width: 250px;
  height: 240px;
  display: inline-block;
  vertical-align: bottom;
  background-image: url("../images/monkey.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#bottomSection {
  width: 150px;
  height: 140px;
  display: inline-block;
  background-image: url("../images/snake.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
  /*transform: scaleX(-1);*/
}

#bottom {
  width: 100%;
  vertical-align: top;
  margin-top: 30px;
}
#bottomCentreSection{
  display: inline-block;
  font-size: 1.5em;
  border: 1px solid black;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  /*background-color: rgba(28, 81, 73, 0);*/
  background-color: white;
  /*#1c5149;
  rgba(28, 81, 73, 0);*/
  vertical-align: top;
  border-radius: 15px 15px 15px 15px;
}
#newGameButton {
  background-color: darkblue;
  color: white;
  width: 100px;
  height: 40px;
}

/*
#snake {
  width: 100px;
  height: 100px;
  text-align: right;
}

#snakeSection {

  width: 250px;
  height: 240px;
  display: inline-block;
  vertical-align: bottom;
}
#snakeSeection img {
  width: 100%;
   transform: scaleX(-1);

}

#test {
  width: 150px;
  height: 110px;
  display: inline-block;
  vertical-align: top;
  background-color: black;
}*/


#sideSectionContent {
  position: relative;
  left: 107px;
  top: 120px;

  width: 80px;
  height: 92px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  /*background-color: red;*/
}


#sideScoreP1, #sideScoreP2 {
  font-size: 2em;
  float: left;
  width: 50%;
  text-shadow:
    -2px -2px 0 #DDD,
    1px -1px 0 #DDD,
    -1px 1px 0 #DDD,
    1px 1px 0 #DDD;
}
#sideImgP1 {
  float: left;
  width: 50%;
  /*background-color: green;*/
  height: 50px;
  background-image: url("../images/bunny.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#snakeAwaitingTurn  {
    text-align: center;
}
#snakeAwaitingTurn img{
      width: 72px;
    height: 72px;
    text-align: center;
}
#sideImgP2 {
  float: left;
  width: 50%;
  /*background-color: blue;*/
  height: 50px;
  background-image: url("../images/fox-new.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#scoreBoard {
  width: 200px;
  height: 200px;
}
body {
    /*background-color: #668cff;*/
      min-width: 785px;
}
/* raining in the forest */
#game {
  margin: 0 auto;
  min-width: 500px;
  /*background-image: url("../images/bg-page.jpg");*/
text-align: center;

}
.messages {
  clear: left;
}


#player1Image {
  background-image: url("../images/bunny.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 30px;
  width: 30px;
}

#board {
  border-radius: 20px 20px 20px 20px;
  padding: 5px;
  display: inline-block;
  border: 1px solid black;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  /*background-color: rgba(28, 81, 73, 0);*/
  background-color: #053830;
  /*#1c5149;
  rgba(28, 81, 73, 0);*/
}
.squareMouseOver {
  background-color: green;
}

.sideMonkeyImage {
  float: left;
}

/*//0.5 % margin each side.. so then height and width 32%?*/
/*transparent bg withgimp*/

/*#messages {
  background-image: url("../images/monkey.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
}*/


body {
  width: 80%;
  margin: 0 auto;
  background-image: url("../images/Enchanted_Forest_Background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.square:hover {
  background-color: rgb(191, 191, 191);
}


.square{
  /*box-sizing: border-box;*/

  height: 31.333%;
  width: 31.333%;
  /*background-color: #00cc00;*/
  margin: 1%;
  /*//margin-left: 0.5%;
  margin-right: 0.5%;*/
  float: left;
    /*border-radius: 5px 5px 5px 5px;*/
  border: 1px solid gray;
  transition: .3s;
  /*margin: 0 auto;*/
  /*box-shadow: inset 0 -1px 0 0 #046ca3, inset 0 1px 0 0 #046ca3, 0 1px 0 0 #046ca3, 0 -1px 0 0 #046ca3;*/

}
/*
div:hover doesnt work for touch screens
*/

.player1Choice {
  background-image: url("../images/bunny.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: darkgreen;
  border: 1px solid white;
}


.player2Choice {
  background-image: url("../images/fox-new.png");
  background-repeat: no-repeat;
  background-size: 93%;
  background-position: center;
  background-color: darkgreen;
  border: 1px solid white;
}

@media (min-width: 40em) {
  /* margin trick doesnt really work with floats */


    .square {
      /*margin-right: 3.333333%;*/
    }
    .square{
      /*width: 30%;*/
    }

}

@media (min-width: 80em) {
  body {
    /*background-color: plum;
    width: 80%;*/
  }
}
